.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
/* 
Section:Main body of the theme 
====================
*/
.MiniDrawer-content-9 {
  background-color: #f0f3f4 !important;
}
/* 
Section:Profile Pics 
====================
*/

/* Override for the profile pictures */
.user--profile-pictures > img {
  border: 1px dotted;
  border-radius: 100%;
  height: 50px;
  width: 50px;
}
/* override for the padding on the profile pics - ensure almost center align */
.user__sidebar {
  width: 108px;
}
.MiniDrawer-drawerPaperClose-7 {
  width: 100px !important;
}
.jss18.jss20.jss94.jss6.jss7.jss95.jss99 {
  width: 100px !important;
}
/* animate the profile picture when hovered, spin ike a coin on its side */
.user--profile-pictures > img:hover {
  animation: profile-picture-twist infinite 3s linear;
}

@keyframes profile-picture-twist {
  from {
    transform: rotateY(0deg);
  }

  to {
    transform: rotateY(360deg);
  }
}

/* 
Section:Posts 
====================
*/
.post__container {
  background-color: white;
  border-radius: 3px;
  padding: 15px;
  margin-bottom: 18px;
  text-align: left;
}

/* Cha Icons for loader */
.loader {
  font-family: "Permanent Marker", cursive;
  color: #6884bb;
}
.package__icon {
  transform: rotate(130deg);
  /* animation: package__icon-animation  10s linear; */
}
/* @keyframes package__icon-animation {
  0% {
transform: rotate(0deg);
  }
  50% { 
transform: rotate(130deg);
  }
  100% {
    transform: rotate(0deg);
  } 
} */

.chat__icons {
  position: relative;
  animation: chat__icons-animation infinite 3s linear;
}

@keyframes chat__icons-animation {
  0% {
    top: -10px;
    opacity: 0;
  }

  25% {
    opacity: 1;
  }

  50% {
  }

  100% {
    opacity: 0;
    top: 100px;
  }
}
